<div class="p-6 bg-gray-700 text-white lg:px-10 xl:rounded-b-lg" id="announcement">
  This is a multi-market demo website built with Shopify and Commerce Layer.
  <a href="#" class="underline hover:opacity-75">Read full article</a> to learn more about the details.
</div>

<script>
  document.getElementById('announcement').addEventListener("click", function(){
    alert("Full article coming soon. Stay tuned!");
  });
</script>