<div id="cart-empty">
  <div class="text-gray-500 mb-6">
    You cart is empty
    &mdash;
    <a href="/{{request.locale.iso_code}}" class="underline hover:opacity-75">
      Continue&nbsp;shopping
    </a>  
  </div>
</div>
