<div class="flex flex-col md:flex-row">
  <div class="basis-1/2 mb-10 md:pr-10 lg:pr-20">
    <h1 class="text-2xl font-bold mb-4 lg:text-3xl">Choose your country</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis consequat lacinia. Etiam fermentum quis dui non mollis. Aliquam mattis consequat lacinia. Etiam fermentum quis dui non mollis. Aliquam mattis consequat lacinia.</p>
  </div>
  <div class="basis-1/2">
    <div class="grid grid-cols-2 gap-6 md:grid-cols-3">
      {% for country in shop.metafields.global.countries.value %}
        <a href="/{{ country.default_language }}-{{ country.code }}" class="hover:opacity-75">
          <div class="flex items-center">
            <div class="w-1/3">
              {% render "country-flag", country_code: country.code %}
            </div>
            <div class="w-2/3 text-xs">
              {{ country.name | upcase }}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>