<div class="flex items-center justify-center mt-10 border-t pt-6 md:justify-start md:mt-20">
  <img src="{{ 'shopify.svg' | asset_url }}" class="inline w-24" />
  <span class="mx-2 text-xl">+</span>
  <img src="{{ 'commercelayer.svg' | asset_url }}" class="inline w-40" />
</div>
