<div class="flex items-center mt-10 border-t pt-6 justify-start md:mt-20">
  <span class="hidden md:inline mr-2">Powered by</span>
  <img src="{{ 'shopify.svg' | asset_url }}" class="inline w-20 mr-2" />
  <span class="mr-2 text-xl">+</span>
  <img src="{{ 'commercelayer.svg' | asset_url }}" class="inline w-36" />
</div>
