<div class="mt-10 md:mt-20">
  Powered by
  <img src="{{ 'shopify.svg' | asset_img_url: '100x' }}" class="inline" /> +
  <img src="{{ 'commercelayer.svg' | asset_img_url: '100x' }}" class="inline" />
</div>