<header class="border-b pb-6 mb-12">
  <div class="flex flex-row items-center">
    <div class="grow">
      <img src="{{ 'shopify.svg' | asset_url }}" class="inline w-24 mr-2" />
      <span class="mr-2 text-xl">+</span>
      <img src="{{ 'commercelayer.svg' | asset_url }}" class="inline w-40" />
    </div>
    <div>
    {% unless request.locale.primary %}
        <span class="font-semibold mr-1">Language:</span>
        {{ request.locale.endonym_name }}
        <span class="mx-2 text-gray-300">|</span>
        <span class="font-semibold mr-1">Shipping to:</span>
        {% assign country_code = request.locale.iso_code | split: '-' | last %}
        <span>
          <a href="/" class="hover:opacity-75" >
            {% render "country-flag", country_code: country_code %}
          </a>
        </span>
    {% endunless %}
    </div>
  </div>
</header>