<header class="border-b pb-6 mb-12">
  <div class="flex flex-row items-center">
    <div class="grow">
      <a href="/" class="flex items-center hover:opacity-75">
        <h1 class="text-xl font-semibold mr-2">MY GLOBAL BRAND</h1>
        {% unless request.locale.primary %}
          {% assign country_code = request.locale.iso_code | split: '-' | last %}
          {% render "country-flag", country_code: country_code %}
        {% endunless %}
      </a>
    </div>
    {% unless request.locale.primary %}
      <div>
        <a href="/{{request.locale.iso_code}}/cart" class="hover:opacity-75">
          Shopping bag (<span class="clayer-shopping-bag-items-count border-4 border-red-500 px-1">0</span>)
        </a>
      </div>
    {% endunless %}
  </div>
</header>