<header class="p-6 md:border-b lg:px-10 xl:mb-12 xl:px-0">
  <div class="flex flex-col md:flex-row md:items-center">
    <a href="/" class="flex items-center hover:opacity-75 md:grow">
      <h1 class="text-xl font-semibold mr-2">MY GLOBAL BRAND</h1>
      {% unless request.locale.primary %}
        {% assign country_code = request.locale.iso_code | split: '-' | last %}
        {% render "country-flag", country_code: country_code %}
      {% endunless %}
    </a>
    {% unless request.locale.primary %}
      <div class="mt-2 md:mt-0">
        <a href="/{{request.locale.iso_code}}/cart" class="hover:opacity-75">
          <span class="font-semibold mr-2">Shopping cart</span>
          <span class="clayer-shopping-bag-items-count bg-gray-700 text-white px-2 py-1 rounded">0</span>
        </a>
      </div>
    {% endunless %}
  </div>
</header>