<div class="basis-1/2 bg-gray-100 p-6 md:p-10 xl:rounded-lg">
  <h1 class="text-2xl font-bold mb-4 lg:text-3xl">{{ template.name | prepend: 'titles.' | t }}</h1>
  <p>{{ template.name | prepend: 'hints.' | t }}</p>
</div>
