<div class="grid grid-cols-3 gap-6 md:gap-12">
  {% assign collection = collections | first %}
  {% assign products = collection.products %}
  {% for product in products %}
    {% render "product-listing", product: product %}
  {% endfor %}
</div>