<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {{ content_for_header }}
  </head>

  <body>
    <div class="container mx-auto p-6 max-w-screen-xl">
      {% render "header" %}
      <div class="flex flex-col md:flex-row">
        <div class="bg-gray-100 rounded-lg p-10 basis-1/2">
          <h1 class="text-2xl font-bold mb-4 lg:text-3xl">{{ template.name | prepend: 'titles.' | t }}</h1>
          <p>{{ template.name | prepend: 'hints.' | t }}</p>
        </div>
        <div class="basis-1/2 p-10">
          {{ content_for_layout }}
        </div>
      </div>      
      {% render "footer" %}
    </div>    
    {% render "commercelayer" %}
  </body>
 </html>